<div class="about">
    <div class="about__wrapper container" [ngClass]="{'fade-in' : isProcessing}">
        <div class="about__container">
            <div class="about__content">
                <div class="about__heading-wrapper">
                    <h2 class="about__heading">About</h2>
                </div>
                <div class="about__info-wrapper">
                    <p class="about__title">Hi there 👋</p>
                    <p class="about__info">I'm Petar from Serbia, and i do for most of my time Frontend Development. I really enjoy learning new languages. Beside Frontend Development I also do Backend Development in Java but right now i enjoy using Go.</p>
                    <p class="about__desc">From the moment I produced “Hello World!” in the console of my first application, I knew I was hooked into the world of software development. But software development has never been “just a job” for me, it’s offered an engaging challenge to continually learn and improve my skills in creating high-quality software. What started with a simple “Hello World!” has become a full-fledged passion that only gets more exciting as the days and months go by.</p>
                </div>
            </div>
        </div>
    </div>
</div>