// font-size
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 24px;

// padding
$padding-s: 10px;
$padding-m: 20px;
$padding-l: 30px;
$padding-xl: 40px;
$padding-xxl: 50px;

// margin
$margin-s: 10px;
$margin-m: 20px;
$margin-l: 30px;
$margin-xl: 40px;
$margin-xxl: 50px;

// border
$border-s: 1px;
$border-m: 2px;
$border-l: 5px;
$border-xl: 10px;
$border-xxl: 15px;

// colors
$blue: blue;
$red: red;
$black: black;
$white: white;
$green: green;
$gray: gray;