<div class="experience">
    <div class="experience__wrapper container" [ngClass]="{'fade-in' : isProcessing}">
        <div class="experience__container">
            <mdb-carousel [interval]="15000" [controls]="true" [animation]="'slide'" class="carousel-dark" data-bs-ride="carousel" data-bs-interval="false">
                <mdb-carousel-item>
                    <div class="experience__content">
                        <div class="experience__info">
                            <p class="experience__title">Dhimahi Ljubljana</p>
                            <p class="experience__duration">April 2022. - Present</p>
                            <p class="experience__desc">After getting some experience with developing my own projects following with two different interships i have started to work at company named Dhimahi based in Ljubljana. For this company i'm working from April 2022. and my position is Frontend Developer specialized with Angular.</p>
                        </div>
                        <div class="experience__logo">
                            <img class="experience__logo-img experience__logo--resize" src="assets/images/experience/dhmihai.svg" alt="">
                        </div>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="experience__content">
                        <div class="experience__info">
                            <p class="experience__title">Vega IT Novi Sad</p>
                            <p class="experience__duration">October 2021. - November 2021.</p>
                            <p class="experience__desc">Proffesional Frontend Internship done in four weeks in company named Vega IT - Novi Sad. On this internship i was getting better at HTML5, semantics, accessiblity, BEM, CSS with all new features. Also great experience with vanilla Java Script together with Gulp for some great things that with can do with it.</p>
                        </div>
                        <div class="experience__logo">
                            <img class="experience__logo-img" src="assets/images/experience/vega_it.png" alt="">
                        </div>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="experience__content">
                        <div class="experience__info">
                            <p class="experience__title">Informatika A.D. Beograd</p>
                            <p class="experience__duration">Jun 2021. - Jul 2021.</p>
                            <p class="experience__desc">Proffesional Software Internship done in four weeks in company named Informatika A.D. Beograd. On this internship i was getting better at object oriented programming skils along with implementing my own algorithms. For programming language i was using C#.</p>
                        </div>
                        <div class="experience__logo">
                            <img class="experience__logo-img experience__logo--special" src="assets/images/experience/informatika_ad.jpeg" alt="">
                        </div>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
</div>