.navigation {
  position: relative;
  height: 70px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .6s;
  border-radius: 10px;
  background-color: #000;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  opacity: 0.1;
  transition: 0.8s all ease-in-out;
  z-index: 10000;
}

.fade-in {
  opacity: 1;
  transition: 0.8s all ease-in-out;
}

.navigation ul {
  display: flex;
  width: 350px;
}

.navigation ul li {
  position: relative;
  width: 70px;
  height: 70px;
  list-style-type: none;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  font-weight: 400;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: .6s;
}

.navigation ul li a .label {
  position: absolute;
  opacity: 0;
  font-size: 0.75em;
  transition: .6s;
  letter-spacing: 0.05em;
  transform: translateY(20px);
}

.navigation ul li.active a .label {
  opacity: 1;
  transform: translateY(10px);
}

.navigation ul li.active a .icon {
  transform: translateY(-35px);
}

.indicator {
  position: absolute;
  background-color: #000;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  top: -50%;
  transition: .6s;
  border: 4px solid #29262d;
}

.label,
.icon {
  color: white !important;
  font-weight: bold;
}

.indicator::before{
  position: absolute;
  top: 50%;
  left: -20px;
  content: '';
  width: 20px;
  height: 20px;
  transform: translateY(1px);
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: 1px -10px 0 0 #29262d;
  border-top-right-radius: 20px;
}

.indicator::after{
  position: absolute;
  top: 50%;
  right: -20px;
  content: '';
  width: 20px;
  height: 20px;
  transform: translateY(1px);
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: -1px -10px 0 0 #29262d;
  border-top-left-radius: 20px;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(2.5px));
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(72px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(71px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(71px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70.5px * 4));
}

.navigation__items {
  padding-left: 0px !important;
}

.copyright {
  position: absolute;
  top: 75px;
  left: 112px;
}

.copyright__text {
  font-size: 10px;
  opacity: 0.35;
  letter-spacing: 1.25px;
}